@import url('flex.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body, html {
    background-color: #f8f8f8;
    color: #495057;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.login-page {
    min-height: 100vh;
}

.login-box {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .1);
}

.login-header h5 {
    font-weight: bold;
    padding: 20px 0;
}

.login-form .input-group-text {
    width: 40px;
}

.login-other-options {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.no-p-lr {
    padding-left: 0;
    padding-right: 0;
}

.login-form .btn {
    background-color: #2a3042;
    color: #fff;
}

.login-form .btn:hover {
    background-color: #28283d;
}

.label-success {
    color: green;
    font-weight: bold;
}

.btn-action-table {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    text-align: center;
    transition: .3s background-color, color;
    color: #455160;
    text-decoration: none;
    font-size: 14px;
}

.btn-action-table:hover {
    background-color: #eef0f8;
    text-decoration: none;
}

.btn-action-table.prevent {
    background-color: #a8001c;
    color: #fff
}

.btn-action-table.prevent:hover {
    background-color: #000;
}

.alert-success {
    margin: 20px 0;
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
}

#admin-panel {
    font-size: 14px;
}

.collapse-left-side {
    cursor: pointer;
    width: 30px;
    text-align: center;
}

#sidebar-menu-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 250px;
    background-color: #fff;
    color: #fff;
    transform: translateX(-245px);
    transition: .5s transform;
    -webkit-transition: .5s transform;
    -webkit-box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
}

#sidebar-menu-content.active {
    transform: translateX(0);
}

.sidebar-menu-header {
    line-height: 70px;
    text-align: center;
}

.sidebar-menu-header a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.25rem;
}

#sidebar-menu {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin-bottom: 0;
}

#sidebar-menu li {
    padding: 12px 20px;
}

#sidebar-menu li a>i:first-child {
    min-width: 15px;
    text-align: center;
}

#sidebar-menu li:hover a {
    color: #000;
}

#sidebar-menu li:hover {
    cursor: pointer;
}

#sidebar-menu li a {
    color: #000;
    text-decoration: none;
}

#sidebar-menu li.active .arrow-right {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

#sidebar-menu li .menu-title {
    padding-left: 5px;
}

#sidebar-menu li ul.sub-menu {
    display: none;
}

#sidebar-menu li.active ul.sub-menu {
    list-style: none;
    padding-left: 3px;
    display: block;
}

#main-content {
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 250px;
    transition: .5s all;
}

#main-content.full-width-content {
    width: calc(100% - 5px);
    margin-left: 5px;
}

.navbar-header {
    line-height: 70px;
    background-color: #fff;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-header .user-info {
    cursor: pointer;
}
.navbar-header .user-info .initials {
    background-color: #2a3042;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    margin: 0 3px;
}

.page-content {
    padding-top: 20px;
}

.page-title {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

footer.author {
    position: absolute;
    bottom: 0;
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #fff;
    color: #74788d;
}

.breadcrumb {
    padding: 10px 7px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px -4px rgba(0, 0, 0, .1);
    font-size: 14px;
}

.breadcrumb .active {
    color: #444 !important;
}

.breadcrumb-item {
    padding-left: 5px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #20a8d8;
}

.breadcrumb-item a:hover {
    text-decoration: underline
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding-right: 5px;
    color: #444;
}

.content-page {
    height: 100%;
    background-color: #eef0f8;
    padding: 10px 20px 0;
}

.form {
    background-color: #fff;
    min-height: 200px;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 0 15px;
    margin: auto;
}

.form-header {
    font-size: 17px;
}

.card-custom .card-header {
    background-color: #fff;
}

.card-header .card-title * {
    margin-bottom: 0;
}

.card-header .card-title h2 {
    font-size: 20px;
}

.card-header .card-title p {
    font-size: 15px;
}

.card-buttons .create_new {
    text-decoration: none;
    background-color: #1a1a27;
    color: #f3f3f3;
    padding: 2px 10px;
    transition: .5s all;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    -o-transition: .25s all;
}

.card-buttons .create_new:hover {
    box-shadow: 1px 1px 6px 1px #1a1a27;
}

.card-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .item-filter {
    margin: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.card .item-filter:hover {
    text-decoration: underline;
}

.form-group.ckeditor-group {
    align-items: stretch
}

.form-group.ckeditor-group label {
    margin-bottom: 10px;
}

.form-group.ckeditor-group textarea {
    width: 100%;
}

.cke_contents {
    min-height: 500px;
}

.btn {
    text-decoration: none;
    background-color: #1a1a27;
    color: #f3f3f3;
    padding: 2px 10px;
    display: block;
    margin-left: auto;
    transition: .3s all;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
}

.btn:hover {
    box-shadow: 1px 1px 6px 1px #1a1a27;
}

.form-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin-left: auto;
}

.btn-back {
    background-color: #b5b5b5;
    transition: .3s all;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
}

.btn-back:hover {
    box-shadow: 1px 1px 6px 1px #d4d4d4;
    color: #f3f3f3;
}

.before-password {
    margin-bottom: 1rem
}

.generated_password {
    background-color: #f3f3f3;
    color: #222;
    padding: 1px 10px;
    border-radius: 3px;
    margin-left: 5px;
}

/* RWD */
@media (min-width: 1025px) and (max-width: 1320px) {

}

@media (min-width: 768px) and (max-width: 1024px) {


}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

    /*.form-group {flex-wrap: wrap;padding: 0;}*/
    /*    .form-group {display: block}*/
    .form input[type=text], .form input[type=email], .form span, .form select, .form textarea {
        margin: 0;
        width: 100% !important;
    }

    .form.article textarea, .form.category textarea, .form .form-input > span {
        margin: 0;
    }

    .btn-website i {
        display: none;
    }
}
